.App{
  background-color: #f8f9fb;
  height: 50px;
  
}

.Top-Bar {
    padding: 15px;
    margin: 0px;
    top: 0;
    overflow:hidden;
    max-width: auto;
    position: relative; 
    background-color: #353a40 ;
}

.Title-Button{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    position: sticky;
}

.Home-Button{
    color: #9ea3a6;
    font-family: Arial, Helvetica, sans-serif;
    position: -webkit-sticky;
    position: sticky;
    padding-left: 233px;
    padding-top : 8px;
    left: 650px;
    font-size:18px; 
    text-align: center; 
    text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Logistics-Block{
  display:flex;
  position: sticky;
  overflow:hidden;
  justify-content: space-around;
}

.Login-Button{
  font-family: Arial, Helvetica, sans-serif;
  color: #9ea3a6;
  margin-left: 1280px;
  margin-top: 10px;
  position: sticky;
  text-decoration: none; 
  
}

.Language-Button{
  font-family: Arial, Helvetica, sans-serif;
  color: #9ea3a6;
  padding-left: 10px;
  padding-top: 10px;
  position: -webkit-sticky;
  position: sticky;
}

.Down-Arrow{
  padding-left:10px;
  padding-top: 15px;
  position:sticky;
}

.ToDoList-Block{
  color: #f7f7f7; 
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border: 1px solid #e3e3e3;
  padding:20px;
  position:relative;
  margin: 60px 40px;
}

.ToDoList-Text{
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: normal;
  left: 15px;
  font-size: 35px;
  padding: 0;
  margin:0;
}

.Submission-Block{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #e3e3e3;
  padding:300px;
  position:relative;
  margin: -61px 40px;
}

#ToDoListItem{
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  position: absolute;
  margin: -270px -270px;
  width: 320px;
  box-sizing:border-box;
}

.Submit-Button{
  padding: 15px;
  background-color: #0279fd;
  color: #FFFFFF;
  font-size: 20px;
  margin: -270px 70px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  width: 115px;
  position: absolute;
}

input{
  font-size: 20px;
  display: flex; 
}

.chores {
  margin: -490px 73px;
  z-index:1;
  position:relative;
}

.Chores-Block { 
  
  position:relative;
  border: 1px solid #cdcdcd;
  background-color: #f5f5f5;
  padding: 10px 363px 10px 10px;
  font-size: 25px;
  font-weight: 300;
  color: #494a4b;
  z-index:1;
}

.Login-Box{
  background-image: url("https://i.imgur.com/nVF7Zs1.png");
  background-repeat: no-repeat;
  border: 1px solid #252d38;
  width:555px;
  border-radius: 4px;;
  height: 500px;
  margin-left: 635px;
  margin-top: 75px;
}

#Login-Email-Box {
  position: absolute;
  color: #7e7e80;
  border: 0px;
  border-bottom: 1px solid #eaeaea;
  margin-left: 690px;
  margin-top : -430px;
  padding: 12px;
  width: 442px;
  z-index: 1;
}

#Login-Password-Box {
  position: absolute;
  border: 0px ; 
  border-bottom: 1px solid #eaeaea;
  margin-left: 690px;
  margin-top: -325px;
  padding: 12px;
  width: 442px;
  z-index:1;
}

.Login-User-Logo {
  background-image: url("https://i.imgur.com/LtDFH6j.png");
  background-size: 25px;
  padding: 100px;
  width: 400px;
  height: 400px;
  position:absolute;
  margin-left: 658px;
  margin-top: -420px;
  background-repeat: no-repeat;
}

.Login-Password-Logo{
  background-image: url("https://i.imgur.com/6tcPdkh.png");
  background-size: 25px;
  padding: 100px;
  width: 400px;
  height: 400px;
  position:absolute;
  margin-left: 658px;
  margin-top: -317px;
  background-repeat: no-repeat;
}

.Login-Sign-In{
  background-color: #24aeef;
  border :none;
  font-size: 22px;
  color: white;
  border-radius: 6px;
  position:absolute; 
  padding: 25px;
  width:  512px;
  margin-left: 658px;
  margin-top: -240px;
}